<div class="col-3 col-md-2 w-100 px-0 bg-light position-sticky max-vh-100" id="sticky-sidebar">
    <div class="nav navbar-ligh bg-light navbar-expand-sm flex-column overflow-auto text-dark p-2 sticky-top">
        <h5><%=response.__("category.heading")%></h5>
        <a href="./allProducts" class="navbar-text text-dark"><%=response.__("category.name.allProducts")%></a>
        <a href="./books" class="navbar-text text-dark"><%=response.__("category.name.books")%></a>
        <a href="./clothes" class="navbar-text text-dark"><%=response.__("category.name.clothes")%></a>
        <a href="./electronics" class="navbar-text text-dark"><%=response.__("category.name.electronics")%></a>
        <a href="./furniture" class="navbar-text text-dark"><%=response.__("category.name.furniture")%></a>
        <a href="./gaming" class="navbar-text text-dark"><%=response.__("category.name.gaming")%></a>
        <a href="./jobs" class="navbar-text text-dark"><%=response.__("category.name.jobs")%></a>
        <a href="./pets" class="navbar-text text-dark"><%=response.__("category.name.pets")%></a>
        <a href="./realty" class="navbar-text text-dark"><%=response.__("category.name.realty")%></a>
        <a href="./services" class="navbar-text text-dark"><%=response.__("category.name.services")%></a>
        <a href="./sports" class="navbar-text text-dark"><%=response.__("category.name.sports")%></a>
        <a href="./tickets" class="navbar-text text-dark"><%=response.__("category.name.tickets")%></a>
        <a href="./vehicles" class="navbar-text text-dark"><%=response.__("category.name.vehicles")%></a>
        <a class="navbar-text text-dark"></a>
        <a class="navbar-text text-dark"></a>
        <a class="navbar-text text-dark"></a>
        <a class="navbar-text text-dark"></a>
        <a class="navbar-text text-dark"></a>
        <a class="navbar-text text-dark"></a>
        <a class="navbar-text text-dark"></a>
        <a class="navbar-text text-dark"></a>
        <a class="navbar-text text-dark"></a>
        <a class="navbar-text text-dark"></a>
    </div>
</div>