<footer class="page-footer font-small black fixed-bottom basar-footer">
    <div class="fixed-bottom">
        <nav class="navbar bg-dark">
            <a class="text-white" href="./about"><%= response.__("footer.about")%></a>
            <a class="text-white" href="./help"><%= response.__("footer.help")%></a>
            <a class="text-white" href="./contacts"><%= response.__("footer.contact")%></a>
            <a class="text-white" href="/reportProblem"><%= response.__("footer.reportProblem")%></a>
            <a class="text-white" href="/chatrooms"><%= response.__("footer.chatrooms")%></a>
        </nav>
        <div class="text-center bg-dark">
            <nobr class="text-light text-center bg-dark"><%=response.__("footer.copyRight.message")%></nobr>
        </div>
    </div>
</footer>
