<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><%=response.__("nav.categoryLink")%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toogler-icon"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="./vehicles"><%=response.__("nav.categoryNames.vehicles")%></a></li>
            <li><a href="./electronics"><%=response.__("nav.categoryNames.electronics")%></a></li>
            <li><a href="./clothes"><%=response.__("nav.categoryNames.clothes")%></a></li>
            <li><a href="./realty"><%=response.__("nav.categoryNames.realty")%></a></li>
            <li><a href="./pets"><%=response.__("nav.categoryNames.pets")%></a></li>
            <li><a href="./books"><%=response.__("nav.categoryNames.books")%></a></li>
            <li><a href="./tickets"><%=response.__("nav.categoryNames.tickets")%></a></li>
            <li><a href="./services"><%=response.__("nav.categoryNames.services")%></a></li>
        </ul>
    </div>
</nav>