<!DOCTYPE html>
<html lang="<%=response.getLocale()%>">

<%- include('./partials/head.ejs') %>

<body class="d-flex flex-column min-vh-100">
    <%- include('./partials/header.ejs') %>
    <main role="main" class="container">
        <h1>Ooops... <%=response.__("error.heading")%></h1>
        <h2><%=response.__("error.message")%> :(</h2>
        <img class="float-left d-inline-block align-top" src="/images/error.png" alt="">
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>