<!DOCTYPE html>
<html lang="<%=response.getLocale()%>">

<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<div class="allProducts-container">
  <%- include('./partials/categories.ejs') %>


<div class="container-fluid" id="body">
  

  <div class="row">
    <% products.forEach(product => { %>
      <div class="card" style="width: 14rem;" id="cards">
        <img class="card-img-top" src="https://previews.123rf.com/images/aquir/aquir1311/aquir131100316/23569861-sample-grunge-red-round-stamp.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=product.title %></h5>
          <p class="card-text"><%=product.description %></p>
          <div class="price">$<%=product.price %></div>
          <a href="/add-to-cart/<%=product._id%>" class="btn btn-success pull-right"><%= response.__("shoppingCart.add-to-cart")%></a>
        </div>
      </div>
      
    <% }) %>
  </div>
      
</div>

<%- include('./partials/footer.ejs') %>
</div>

 </html>