<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body class="d-flex flex-column min-vh-100">
    <%- include('./partials/header.ejs') %>
    <div class="container-fluid bg-light">
        <div class="row">
            <%- include('./partials/categories.ejs') %>

            <div class="col-9 px-0 w-100 postition-static mb-4 pb-5" id="main">
                <% if (products.length > 0) { %>
                    <% products.forEach(product => { %>
                        <div class="row no-gutters bg-light position-relative">
                            <div class="col-2 align-self-center position-static">Picture</div>
                            <div class="col-6 align-self-start position-static">
                                <a class="stretched-link text-dark mark" href="/product/<%= product._id %>">
                                    <%- product.title %>
                                </a>
                                <div class="row no-gutters bg-light position-relative">
                                    <div class="col-6 offset-2 small"><%- product.description %></div>
                                </div>
                            </div>
                            <div class="col-1 align-self-start text-right position-static"><%- product.price %>$</div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <h1>Sorry... No products were found.</h1>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script src="/javascripts/jquery.slim.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/search_results.js"></script>
</body>
</html>