<!DOCTYPE html>
<html lang="<%=response.getLocale()%>">

<%- include('../partials/head.ejs') %>

    <body class="d-flex flex-column min-vh-100">
        <%- include('../partials/header.ejs') %>

            <div class="container-fluid bg-white">
                <div class="row" id="body">
                    <%- include('../partials/categories.ejs') %>
                        <div class="col-9" id="main">
                            <h3 class="title">
                                <%- title %>
                            </h3>

                            <h5><%= response.__("dashBoard.welcomeMessage") %> <%= userFirstName %>
                                    <%= userLastName %>
                            </h5>
                            <a href="/user/logout"><%= response.__("dashBoard.logout") %></a>

                        </div>
                </div>
            </div>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>
