<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body class="d-flex flex-column min-vh-100">
        <%- include('../partials/header.ejs') %>

            <div class="container-fluid bg-white">
                <div class="row">
                    <%- include('../partials/categories.ejs') %>
                        <div class="col-9" id="main">
                            <h3 class="title">
                                <%- title %>
                            </h3>

                            <ul>
                                <% if(typeof message !='undefined' ) { %>
                                    <li>
                                        <%= message %>
                                    </li>
                                    <% } %>
                            </ul>

                            <ul>
                                <% if(messages.success.length > 0) { %>
                                    <li>
                                        <%= messages.success %>
                                    </li>
                                    <% } %>
                            </ul>

                            <ul>
                                <% if(messages.error.length > 0){ %>
                                    <li>
                                        <%= messages.error %>
                                    </li>
                                    <% } %>
                            </ul>

                            <form action="/user/login" method="POST">
                                <div>
                                    <input type="email" id="email" name="email" placeholder="E-Mail" required>
                                </div>
                                <div>
                                    <input type="password" id="password" name="password" 
                                    placeholder="<%= response.__("login.placeHolders.password") %>" required>
                                </div>
                                <div>
                                    <button class="btn btn-outline-dark" type="submit"><%= response.__("login.login") %></button>
                                    <a class="btn btn-outline-primary" href="/auth/google"><img src="/images/google_icon.png" width="20" height="20"> Login with Google</a>
                                    <a class="btn btn-outline-primary" href="/auth/facebook"><img src="/images/facebook_icon.png" width="20" height="20"> Login with Facebook</a>
                                </div>
                                <a href="/user/registration"><%= response.__("login.register") %></a>
                            </form>
                        </div>
                </div>
            </div>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>
